:root {
  --black: #222529;
  --light-bg: #f4f4f4;
  --white: #fff;
  --text-color: #777;
  --blue: #08c;
  --red: #ed7e63;
  --error-bg: #fcf6ef;
  --green: #55c76e;
  --success-bg: #effcf1;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.hide {
  display: none !important;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light-bg);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header,
footer {
  padding: 10px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black);
}

.brand-logo {
  width: 200px;
  height: 100px;
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  cursor: pointer;
}

.main-nav {
  width: calc(100% - 210px);
  text-align: right;
  margin-top: 58px;
  float: right;
}

.main-nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 12px 0 12px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.main-nav ul li a {
  color: var(--black);
}

.main-nav ul li .material-icons {
  position: relative;
  top: 3px;
  cursor: pointer;
  font-size: 30px;
  color: var(--black);
}

header {
  padding: 24px;
}

header .user-wrapper {
  position: absolute;
  right: 24px;
  top: 6px;
  font-size: 14px;
}

header .user-wrapper a {
  font-size: 14px;
}

header .user-wrapper.without-login {
  top: 15px;
}

header .user-wrapper .material-icons {
  position: relative;
  top: 7px;
}

footer {
  height: 250px;
  margin-top: 64px;
  background: var(--black);
}

footer .brand-logo {
  height: 100px;
}

footer .footer-links {
  margin-top: 24px;
  margin-right: 24px;
  float: right;
}

footer .footer-links a {
  display: block;
  margin: 8px 0;
}

.product-wrapper .product.product-template {
  display: none;
}

.product-wrapper,
.product-detail-wrapper {
  padding: 0 24px;
  text-align: center;
}

.product-wrapper .product {
  width: 220px;
  display: inline-grid;
  margin: 8px;
  background-color: var(--white);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px #888888;
}

.product-wrapper .product .product-description {
  font-size: 20px;
  font-weight: 500;
  color: var(--blue);
  margin: 16px 0;
  cursor: pointer;
  overflow: hidden;
  height: 90px;
}

.product-wrapper .product .product-description:hover {
  text-decoration: underline;
}

.product-wrapper .product .product-price,
.product-wrapper .product .author {
  font-weight: 500;
  color: var(--black);
}

.product-wrapper .product .author {
  text-overflow: ellipsis;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
}

.product-wrapper .product .product-price .value,
.product-wrapper .product .author .value {
  font-weight: normal;
}

.product-wrapper .product .product-price .value {
  font-size: 22px;
}

.product-wrapper .product .img-wrapper {
  text-align: center;
  width: 210px;
  height: 307px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.product-wrapper .product .product-image {
  height: 307px;
}

.product-wrapper .product .add-to-cart {
  margin-top: 8px;
  background-color: #f3f1f1;
  padding: 6px;
  border-radius: 3px;
}

.product-wrapper .product .add-to-cart:hover {
  box-shadow: 0px 2px 3px 0px #888888;
}

.product-detail-wrapper .go-back {
  cursor: pointer;
  margin: 0 24px;
}

.product-detail-wrapper .product-detail img {
  margin: 0 auto;
  display: block;
}

.login-wrapper,
.signup-wrapper {
  width: 100%;
  text-align: center;
}

.login-wrapper h1,
.signup-wrapper h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 24px;
}

.login-wrapper input,
.signup-wrapper input {
  padding: 8px;
  border: 0;
  display: block;
  width: 200px;
  margin: 8px auto;
}

.login-wrapper button,
.signup-wrapper button {
  background-color: var(--blue);
  border: 0;
  line-height: 30px;
  color: var(--white);
  border-radius: 3px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 24px;
  cursor: pointer;
}

.login-wrapper .signup-message,
.signup-wrapper .signup-message {
  font-size: 12px;
  width: 250px;
}

.error:not(:empty),
.error:not(:empty) {
  font-size: 12px;
  color: var(--red);
  background-color: var(--error-bg);
  padding: 16px;
}

.success:not(:empty),
.success:not(:empty) {
  font-size: 12px;
  color: var(--green);
  background-color: var(--success-bg);
  padding: 16px;
}

table.shopping-cart {
  width: 800px;
  margin-left: 24px;
  border: 1px solid black;
  padding: 24px;
  margin-top: 24px;
}

table.shopping-cart img.product-image {
  width: 100px;
}

table.shopping-cart .material-icons {
  cursor: pointer;
}

.view-cart-wrapper .total {
  position: fixed;
  top: 290px;
  right: 100px;
  border: 1px solid lightgrey;
  background: var(--white);
  width: 300px;
  height: 200px;
  padding: 24px;
}

.view-cart-wrapper .total h3,
.view-cart-wrapper .total .total-price {
  display: inline-block;
}

.view-cart-wrapper .total .checkout {
  display: block;
  text-align: center;
  font-weight: 500;
}
