:root {
  --black: #222529;
  --light-bg: #f4f4f4;
  --white: #fff;
  --text-color: #777;
  --blue: #08c;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light-bg);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header,
footer {
  padding: 10px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black);
}

.brand-logo {
  width: 200px;
  height: 100px;
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
}

.main-nav {
  width: calc(100% - 210px);
  display: inline-block;
  text-align: right;
  margin-top: 24px;
}

.main-nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 8px 0 8px;
  text-align: center;
}

.main-nav ul li .material-icons {
  position: relative;
  top: 7px;
  cursor: pointer;
  font-size: 28px;
}

header {
  padding: 24px;
}

header .user-wrapper {
  position: absolute;
  right: 24px;
  top: 6px;
  font-size: 14px;
}

header .user-wrapper a {
  font-size: 14px;
}

header .user-wrapper .material-icons {
  position: relative;
  top: 7px;
}

footer {
  height: 100px;
  margin-top: 64px;
  background: var(--black);
}

footer .brand-logo {
  height: 50px;
}

.product-wrapper .product.product-template {
  display: none;
}

.product-wrapper {
  width: 100%;
  padding: 0 24px;
}

.product-wrapper .product {
  width: 220px;
  display: inline-grid;
  margin: 8px;
  background-color: var(--white);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px #888888;
}

.product-wrapper .product .product-description {
  font-size: 20px;
  font-weight: 500;
  color: var(--blue);
  margin: 16px 0;
  cursor: pointer;
  overflow: hidden;
  height: 100px;
}

.product-wrapper .product .product-price,
.product-wrapper .product .author {
  font-weight: 500;
  color: var(--black);
}

.product-wrapper .product .author {
  text-overflow: ellipsis;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
}

.product-wrapper .product .product-price .value,
.product-wrapper .product .author .value {
  font-weight: normal;
}

.product-wrapper .product .product-price .value {
  font-size: 22px;
}

.product-wrapper .product .img-wrapper {
  text-align: center;
  width: 210px;
  height: 307px;
  overflow: hidden;
  margin: 0 auto;
}

.product-wrapper .product .product-image {
  height: 307px;
}

.product-wrapper .product .add-to-cart {
  margin-top: 8px;
}
